#logo {
	height: 50px; 
	width: 50px;
}

#brand {
	padding-bottom: 20px;
}

#branch {
	padding-bottom: 40px;
}

button {
	background-color: gray;
}

.thumbnail {
	height: 200px;
	width: 200px;
	padding: 10px;
}

#PINvitation {
	margin-top: 20px;
}

#PIN {
	position: absolute;
	width: 150px;
}

.eventImage {
	height: 200px;
	width: 200px;

}

.modalImg {
	height: 200px;
	width: 200px;

}
